<div>
  <h1 class="project-name">Chickenlover</h1>
  <h2 class="project-tagline">
    <a href ng-click="chp.onAllBtnClick('ALL')"><img ng-src=http://static01.nyt.com/images/2014/11/01/opinion/nocera-circular/nocera-circular-thumbStandard-v2.png></a>
    <a href ng-click="chp.onAllBtnClick('ALL')"><img ng-src=http://static01.nyt.com/images/2014/11/01/opinion/nocera-circular/nocera-circular-thumbStandard-v2.png></a>
    <a href ng-click="chp.onAllBtnClick('ALL')"><img ng-src=http://static01.nyt.com/images/2014/11/01/opinion/nocera-circular/nocera-circular-thumbStandard-v2.png></a>
    <a href ng-click="chp.onAllBtnClick('ALL')"><img ng-src=http://static01.nyt.com/images/2014/11/01/opinion/nocera-circular/nocera-circular-thumbStandard-v2.png></a>
  </h2>
</div>
