<span>
  <h1 class="project-name">Chickenlover</h1>
  <h2 class="project-tagline">
    <a href ng-click="chp.onBylineClick()('By JOE NOCERA')"><img ng-src="http://static01.nyt.com/images/2014/11/01/opinion/nocera-circular/nocera-circular-thumbStandard-v2.png"></a>
    <a href ng-click="chp.onBylineClick()('By DAVID BROOKS')"><img ng-src="http://static01.nyt.com/images/2014/11/01/opinion/brooks-circular/brooks-circular-thumbStandard-v2.png"></a>
    <a href ng-click="chp.onBylineClick()('By NICHOLAS KRISTOF')"><img ng-src="http://static01.nyt.com/images/2014/11/01/opinion/kristof-circular/kristof-circular-thumbStandard-v2.png"></a>
    <a href ng-click="chp.onBylineClick()('By FRANK BRUNI')"><img ng-src="http://static01.nyt.com/images/2014/11/01/opinion/bruni-circular/bruni-circular-thumbStandard-v2.png"></a>
    <a href ng-click="chp.onBylineClick()('By GAIL COLLINS')"><img ng-src="http://static01.nyt.com/images/2014/11/01/opinion/collins-circular/collins-circular-thumbStandard-v2.png"></a>
    <a href ng-click="chp.onBylineClick()('By THOMAS L. FRIEDMAN')"><img ng-src="http://static01.nyt.com/images/2014/11/01/opinion/friedman-circular/friedman-circular-thumbStandard-v2.png"></a>
    <a href ng-click="chp.onBylineClick()('By CHARLES M. BLOW')"><img ng-src="http://static01.nyt.com/images/2014/11/01/opinion/blow-circular/blow-circular-thumbStandard-v2.png"></a>
  </h2>
</span>
