<div>
  <section class="page-header">
    <chickenlover-header on-byline-click="nyt.bylineClicked"></chickenlover-header>
  </section>
  <section class="main-content">
    <h3>
      <a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true">
        <span class="octicon octicon-link"></span>
      </a>
    
      <div ng-model="nyt.byline">
        <p ng-repeat="comment in nyt.comments | UserBylineFilter : '7440796' : nyt.byline" id="nyt_{{comment.commentID}}">
          <nyt-comment usercomment="comment" on-byline-click="nyt.bylineClicked"></nyt-comment>
        </p>
      </div>
    
      <p>Having trouble with Chickenlover Pages? Make sure you are using Chrome browser.</p>
    
      <footer class="site-footer">
        <span class="site-footer-owner">
          Maintained by <a href="https://iyengark.github.io/wluz">wluz.com</a>.      >>>>
          <a id="top-of-github-pages" class="anchor" href="#welcome-to-github-pages" ng-click="nyt.byline = 'ALL'" aria-hidden="true">
            <span class="octicon octicon-link">Go To Top</span>
          </a>
        </span>
      </footer>
    </h3>
  </section>
</div>
