<div>
  <section class="page-header">
    <chickenlover-header on-byline-click="nyt.bylineClicked"></chickenlover-header>
  </section>
  <section class="main-content">
    <h3>
      <a id="top" class="anchor" href="#top" aria-hidden="true">
        <span class="octicon octicon-link"></span>
      </a>
    
      <div ng-model="nyt.byline">
        <p ng-repeat="comment in nyt.comments | UserBylineFilter : '7440796' : nyt.byline" 
            id="nyt_{{comment.commentID}}">
          <nyt-comment usercomment="comment" on-byline-click="nyt.bylineClicked"></nyt-comment>
        </p>
      </div>
    
      <footer class="site-footer">
        <span class="site-footer-owner">
          Having trouble viewing this site? Make sure you are using a modern browser like Chrome, Firefox or Safari.
        </span>
        <span class="site-footer-owner">
          Maintained by <a href="https://iyengark.github.io/wluz">wluz.com</a>.&nbsp;&raquo;&nbsp;&raquo;&nbsp;&raquo;&nbsp;
          <a id="footer" class="anchor" href="#top" ng-click="nyt.byline = 'ALL'" aria-hidden="true">
            <span class="octicon octicon-link">Go To Top</span>
          </a>
        </span>
      </footer>
    </h3>
  </section>
</div>
