<h3>
  <a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true">
    <span class="octicon octicon-link"></span>
  </a>

  <div ng-model="nyt.byline">
    <p ng-repeat="comment in nyt.comments | UserBylineFilter : '7440796' : nyt.byline">
      <nyt-comment usercomment="comment" on-byline-click="nyt.bylineClicked"></nyt-comment>
    </p>
  </div>

  <p>Having trouble with Chickenlover Pages? Make sure you are using Chrome browser.</p>

  <footer class="site-footer">
    <span class="site-footer-owner">
      Chickenlover is maintained by <a href="https://iyengark.github.io/wluz">wluz</a>.      >>>>
      <a id="top-of-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true">
        <span class="octicon octicon-link">Go To Top</span>
      </a>
    </span>
  </footer>
</h3>
