<span>
  <span>
    <a href ng-click="nytcomment.onBylineClick()(nytcomment.byline)"><img ng-src={{nytcomment.bylineImageUrl}}></a>
  </span>
  <a href ng-click="nytcomment.abstractClicked();">{{nytcomment.abstract}}</a> 
  [ <a target="_blank" ng-href="{{nytcomment.url}}">{{nytcomment.title}}</a> 
    <a href ng-click="nytcomment.onBylineClick()(nytcomment.byline)">{{nytcomment.byline}}</a> ]
<p ng-show="nytcomment.showComment" ng-model="nytcomment.showComment">
  {{nytcomment.commentBody}}
</p>
</span>
