<span>
  <span>
    <a href id="byline1_{{nytcomment.commentno}}" ng-click="nytcomment.onBylineClick()(nytcomment.byline)"><img ng-src={{nytcomment.bylineImageUrl}}></a>
  </span>
  <a href id="abstract_{{nytcomment.commentno}}" ng-click="nytcomment.abstractClicked();">{{nytcomment.abstract}}</a> 
  [ <a id="title_{{nytcomment.commentno}}" target="_blank" ng-href="{{nytcomment.url}}">{{nytcomment.title}}</a> &raquo;&nbsp;
    <a id="byline2_{{nytcomment.commentno}}" href ng-click="nytcomment.onBylineClick()(nytcomment.byline)"><em>{{nytcomment.byline}}</em></a> ]&nbsp;&raquo;&nbsp;
    <span>{{nytcomment.recommendations}}</span> &nbsp;
    <span ng-show="nytcomment.editorsSelection">&raquo;&nbsp;Editor's pick!!!</span>
<p ng-show="nytcomment.showComment" ng-model="nytcomment.showComment" ng-bind-html="nytcomment.commentBody"></p>
</span>
